@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;600;900&display=swap');

nav {
    font-family: 'Barlow', sans-serif;
}

body {
    display: flex;
    
}

#navbar {
    background: #2a8c88;
    height: 100vh;
    width: 25%;
}
#container {
    
    background: #e9f0f3;
    height: 100vh;
    width: 75%;
}

#navbar__title {
    color: #e9f0f3;
    position: relative;
    top: 30px;
    margin: auto 30px;
}


#navbar__products {
    position: relative;
    top: 150px;
    left: 30px;
}
#navbar__products h4 {
    color: #fdffff;
}
#navbar__products h4:hover {
    color: rgb(221, 221, 18);
}

#navbar__products__add {
    margin-top: 30px;
}

#navbar__products a {
    text-decoration: none;
}

.navbar__products__anchor {
    width: 400px;
}

.navbar__products__anchor:hover {
    background: #055552;
    
}

#xd {
    background-color: #6db1ae;
}

#form__container {
    position: absolute;
    font-family: 'Barlow', sans-serif;
    top: 15%;
    left: 43%;
    box-shadow: 0px 10px 10px -6px black;
    border-radius: 15px;
    height: 630px;
    width: 800px;
    background-color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
      margin: 0; 
}

.form__container__child {
    position: relative;
    left: 20px;
    top:40px;
    margin-top: 10px;
}

.form__container__input {
    width: 760px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.page__logo {
    position: relative;
    top: 20px;
    left: 350px;
}

#form__title {
    position: absolute;
    top: 70px;
    left: 1080px;
}


  .form__container__button {
    position: relative;
    left: 20px;
    top:60px;
    margin-top: 10px;
  }
  .submit {
      width: 760px;
      border: none;
      background:#2a8c88 ;
      font-size:x-large;
      font-weight:600;
      color: #ffffff;
      height: 50px;
  }

  .submit:hover {
      color:rgb(221, 221, 18);
      background-color: #055552;
  }

